@media print{
    @page {
        size: portrait
    }
}

.header_section_field {
    text-align: right;
    font-family: Verdana;
    font-size: xx-small;
}
.header_section_invoice_field {
    text-align: right;
    font-family: Verdana;
    font-size: small;
    font-weight: bold;

}
.header_section_field_supp_to {
    text-align: left;
    font-family: Verdana;
    font-size: x-small;
    font-weight: bold;
}
.header_section_field_sup_add_label {
    text-align: left;
    font-family: Verdana;
    font-size: xx-small;
}

.header_section, .body_section {
    max-width: 100%;
    font-family: Verdana;
    font-size: x-small;
    width: 690px;
} 
.line_number, .quantity, .issued, .pack, .expiry {
   font-size: x-small;
   text-align: right;
   font-family: Verdana;
}

.location, .item_name, .batch {
    font-size: x-small;
    text-align: left;
    font-family: Verdana;
}

